<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/AboutUs.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Chonburi' rel='stylesheet'>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/glacial-indifference" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>

<body>
    <!--HeadBlock-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light flex-nowrap">
            <div class="container">
                <button class="navbar-toggler mr-2 " type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="navbar-brand w-90"></span>
                <div class="navbar-collapse collapse w-100 justify-content-center" id="navbar">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item mr-5 ml-5">
                            <a class="nav-link" href="/home">HOME</a>
                            <!--ใส่linkใหม่ด้วยจ้า-->
                        </li>
                        <li class="nav-item mr-5 ml-5">
                            <a class="nav-link" href="/product">CATEGORY</a>
                        </li>
                        <li class="nav-item mr-5 ml-5">
                            <a class="nav-link" href="/payment">CART</a>
                        </li>
                        <li class="nav-item mr-5 ml-5">
                            <a class="nav-link" href="/contact">CONTACT</a>
                        </li>
                        <li class="nav-item mr-5 ml-5">
                            <a class="nav-link" href="/AboutUs">ABOUT US</a>
                        </li>
                    </ul>
                </div>
                <div class="w-90">
                    <!--spacer-->
                </div>
            </div>
        </nav>
    </header>    
    <!--MiddleBlock-->
    <section class="content">
            <div class="container">
                <!--content-heading-->
                <div class="content-heading">
                    <h1>About Us</h1>
                </div>                
                <!--img-logo-->
                <div class="container-img">
                    <section class="container-img-grid">
                        <div class="container-img-grid">
                            <div class="contain-img-logo">                                
                                <img src="../static/images/imgABU/Logo.jpg" width="50%" height="auto">                            
                            </div>
                        </div>
                </div> 
                <!--info1-->
                <div class="content-info1">
                    <h3>“Without excessive additives and<br>
                        preservatives, it's still ABBZAAB”<br>
                        (ถึงจะดูใสๆ แต่ข้างในแอบแซ่บ)
                        </h3>
                </div>
                <!--info2-->
                <div class="content-info2">
                    <h3>ABBZAAB is instant noodles without preservatives and food
                        contaminant. We use the best ingredients at every stage of
                        production. And our production facility complies fully with the best
                        international food safety, GMP & HACCP standards. To make sure
                        that our customers will get the high quality nutritional value from our
                        products.</h3>
                </div>
                <!--info3-->
                <div class="content-info3">
                    <h3>WHY ABBZAAB
                        </h3>
                </div>
                
            <!--img-block-->
                <div class="content-team">
                    <div class="contect-team-grid">
                        <div class="content-team-img">                        
                            <div class="row g-0" >
                                <div class="column" >
                                    <img src="../static/images/imgABU/AB1.png" style="width:100% ; height: auto;">
                                    <label >PREMIUM<br>
                                        INGREDIENTS</label>                               
                                </div>
                                <div class="column">
                                    <img src="../static/images/imgABU/AB2.png" style="width:100%; height: auto">   
                                    <label >HIGHEST<br>
                                        STANDARDS</label>                                             
                                </div>
                                <div class="column">
                                    <img src="../static/images/imgABU/AB3.png" style="width:100%; height: auto">  
                                    <label >CONVENIENT MEAL <br>
                                        DELIVERY</label>                  
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            <!--INFORMATION-->   
                <div class="infomationBottom">
                    <div class="info-heading1">
                        <h1>Indirect Heat System</h1>
                    </div>
                    <div class="row g-2">
                        <div class="column">
                            <img src="../static/images/imgABU/AB4.jpeg"style="width:100% ; height: auto;" >
                            <img src="../static/images/imgABU/AB5.jpg"style="width:100% ; height: auto;" >
                        </div>
                        <div class="column">
                            <div class="content-info4">
                            <p>The frying process is temperature
                                controlled by the Japanese advanced
                                technology “Indirect Heat System”. Where
                                the oil will pass through the pipe to exchange
                                heat with steam this will be able to control the
                                temperature precisely and evenly to make
                                frying evenly cooked. It doesn't cause any
                                problems for the oil. The noodles absorb
                                approximately 16-17% of the oil, and new oil is
                                automatically added to the pan every hour.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-heading2">
                        <h1>Seasoning sauce bags<br>can be eaten</h1>
                    </div>
                    <div class="row g-2">
                        <div class="column">
                            <div class="content-info5">
                            <p>The gelatin film from fish skins developed by
                                the research team is biodegradable and edible.<br>it
                                is environmentally friendly and the packaging is
                                also a good source of protein. Consumers simply
                                add hot water to food containers and packages
                                containing various additives without tearing or
                                cutting the package to take out the ingredients</p>
                            </div>
                        </div>
                        <div class="column">                            
                            <img src="../static/images/imgABU/AB6.jpg"style="width:100% ; height: auto;" >                            
                        </div>
                    </div>

                <!--img-logo-->                
                    <div class="contain-img-logo-bottom">                                
                        <img src="../static/images/imgABU/Logo.jpg" width="30%" height="auto">                            
                    </div>
                       
                </div> 


                </div>
            </div>
            
    </section>
    
    
    <!--BottomBlock-->
    <footer>
        <div class="container">
            <div class="footer-grid">
                <div class="footer-item">
                    <h3>address</h3>
                    <p>Address : 41/16 Soi Krungthep-Non 56,
                        Krungthep-Non Road, Wongsawang,
                        Bangsue, Bangkok, Thailand, 10800,<br>
                        Tel : (+66) 856614550</p>
                </div>
                <div class="footer-item">
                    <h3>Subscribe to our newsletter!</h3>
                    <form action="">
                        <input type="email" name="email" placeholder="email">
                        <input type="submit" value="SUBSCRIBE">
                    </form>
                </div>
            </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/880e0f8b28.js" crossorigin="anonymous"></script>

</html>