<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/contact.css">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/glacial-indifference" type="text/css"/>
</head>

<body>
    <div class="main">
        <div class="banner">
            <img src="../static/images/img/S__4087824.jpg">
            <div class="ban_content">
                <h2>Contact Us</h2>
            </div>
        </div>
        <div class="contact">
            <div class="container">
                <div class="contactForm">
                    <h3>ABBZAAB</h3>
                    <div class="box">
                        <div class="icon1"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="text">
                            <h4>ABBZAAB Noodles</h4>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon2"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div class="text">
                            <h4>ABBZAAB Corp.</h4>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon3"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                        <div class="text">
                            <h4>ABBZAAB@gmail.com</h4>
                        </div>
                    </div>
                    <div class="box2">
                        <div class="icon4"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="text">
                            <h4>091 234 5678<br>02 123 1234</h4>
                        </div>
                    </div>
                </div>
                <div class="contactInfo">
                    <h3>ABBZAAB's Address</h3>
                    <div class="text">
                        <p>41/16 Soi Krungthep-Non 56, Krungthep-Non Road, Wongsawang, Bangsue, Bangkok, Thailand, 10800</p>
                    </div>
                    <div class="map_wrapper">
                        <iframe class="map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1095.0089299156302!2d100.52038986805114!3d13.83334976915709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29b7a39fdf0dd%3A0x30fb3091066223cd!2s41!5e0!3m2!1sth!2sth!4v1619445045509!5m2!1sth!2sth"
                            width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen=""aria-hidden="false" tabindex="0"></iframe>
                            
                        </div>
                </div>
            </div>
        </div>
        <div class="sth">
            <div class="pic">
                <div class="item">
                    <img src="../static/images/Logo.jpg">
                </div>
            </div>
            <div class="sth_content">
                <h4>"Without excessive additives and <br> preservations, it's still ABBZAAB"</h4>
            </div>
        </div>
        <div class="btn">
            <a href="/home">RETURN TO HOMEPAGE</a>
        </div>
        <footer>
            <div class="container2">
                <div class="footer-grid">
                    <div class="footer-item">
                        <h2>address</h2>
                        <p>Address: 41/16 Soi Krungthep-Non 56, Krungthep-Non Road, Wongsawang, Bangsue, Bangkok, Thailand, 10800<br>
                        Tel : (+66) 856614550</p>
                    </div>
                    <div class="footer-item">
                        <h3>Subscribe to our newsletter!</h3>
                        <form action="">
                            <input type="email" name="email" placeholder="email">
                            <input type="submit" value="SUBSCRIBE">
                        </form>
                    </div>
                </div>
        </footer>
    </div>
</body>

</html>